table {
  text-align: center;
  border-collapse: collapse;
  font-size: 1.5em;
}

td,
th {
  padding: 1vw;
}

tr:nth-child(even) {
  background-color: #be4343;
}

th.idPedido {
  text-decoration: underline;
}
